.container {
  display: flex;
  gap: 100px;
  padding: 144px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.subtitle {
  color: var(--brand-primary);
}

.title {
  font-size: 54px;
}

.desc {
  font-size: 20px;
  font-weight: 300;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1 {
  color: var(--brand-primary);
}

.img {
  object-fit: contain;
}

.imgContainer {
  flex: 1;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .boxes {
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 1536px) {
  .container {
  }
}

@media (max-width: 1366px) {
  .header {
  }
}

@media (max-width: 1280px) {
  .container {
    padding: 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 100px;
    /* height: 9v */
  }
  .imgContainer {
    display: none;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 474px) {
  .container {
  }
}
