.container {
  display: flex;
  padding: 48px 144px;
  justify-content: center;
  align-items: center;
  gap: 49px;
  background-color: white;
}

.img {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 750px;
}

.content h2 {
  font-weight: 600;
  font-size: 50px;
}

.content p {
  font-size: 18px;
}

.content button {
  padding: 14px 32px;
  background: var(--brand-primary);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--neutral-white);
  border: none;
  cursor: pointer;
  width: 151px;
}

@media (max-width: 1280px) {
  .container {
    padding: 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 100px;
  }
  .content {
    text-align: center;
    align-items: center;
  }
  .img {
    display: none;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 50px;
    min-height: 100vh;
  }
  .content h2 {
    font-size: 45px;
  }
}
