.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}

.github {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: #24292e;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.github:before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("https://img.icons8.com/?size=100&id=62856&format=png&color=FFFFFF");
  background-size: contain;
}
