.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 144px 0;
  background-color: white;
  overflow: hidden;
}

.heading {
  font-size: 50px;
}

.text {
  font-size: 20px;
}

.img {
  position: relative;
  width: 1152px;
  height: 98px;
}

@media (max-width: 1280px) {
  .container {
    padding: 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 50px;
  }
  .content {
    text-align: center;
    align-items: center;
  }
  .image {
    display: none;
  }
}

@media (max-width: 640px) {
  .heading {
    font-size: 45px;
  }
  .container {
    min-height: 100vh;
  }
}
